* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rowdies", cursive;
  margin: 0;
  padding: 0;
  background-image: url("../assets/background.png");
  object-fit: cover;
  height: 100vh;
}

.hero-heading {
  padding-top: 10vh;
  text-align: center;
  font-size: 5rem;
  color: rgb(253, 253, 253); 
}

.start-btn {
  display: flex;
  font-size: 1.5em;
  font-family: "Rowdies", cursive;
  background-color: #225885;
  border: 0;
  padding: 1em 2em;
  border-radius: 2em;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1.2em;
  color: white;
  box-shadow: 0 2px 25px white;
}

.lives {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5em;
  
}

.scoreBoard { 
  font-size: 2.5em;
  justify-self: right;
  text-align: right;
  margin: 0; 
  position: relative; 
  margin: -20vh 2vh 0vh 1vh;
}

.musicBtn{ 
  font-size: 1.5em;
  font-family: "Rowdies", cursive;
  background-color: #225885;
  margin-top: 10px;
  margin-bottom: 100px; 
  color:white;
  box-shadow: 0 2px 25px white;
}

 .musicBtnmain{  
  background-color: #53a1e0;
  margin: 15vh 0 0 2vh;
  /* margin-bottom: 100px; */
  border-radius: 50vh;
  padding: 1vh; 
  color:white;
  box-shadow: 0 2px 25px white;
  position:absolute;
} 

.music-btn-pic{ 
  margin: 0px 5px -5px 5px;
  height: 30px; 
  }

.app {
  height: 100%;
  background-image: url("../assets/background.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  
  
}

.start-btn:hover , .musicBtn:hover , .choices:hover{
  transform: scale(1.05, 1.05);
  background-color: #0f3153;
  cursor: pointer;
}
/* quiz question */
.quiz-scr{
  text-align: center;
  font-size: 3.5em;
  color: #0e3c61;
  text-shadow: rgb(233, 233, 233) 0px 0px 5px;
  margin-top:10vh;
}

/* displays if right or wrong */
.judge{
  text-align: center;
  margin-top: 10vh;
  font-size: 2.7em;
  color: rgb(207, 207, 207);
  text-shadow: black 0px 0px 5px;
}

.choicesDiv {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}


.choices{
  font-size: 2em;
  display: inline-block;
  align-self:auto;
  padding: 2vh 10vh 2vh 10vh;
  margin: auto;
  margin-top: 10vh;
  width: 20%;
  background-image: linear-gradient(#EFA09E, #1DACED);
  border: 1px solid rgb(31, 89, 165); 
  
}

.choices:active{
  transform: scale(1);
}


.nextBtnDiv { 
  display:flex;
  justify-content: center;
}
.nextBtn { 
position: relative;
left: 40px;
font-size: 2em;
padding-left: 5vh;
padding-right: 5vh;
background-color: rgb(84, 189, 224);
text-align:center;
animation: nextBtn 0.8s;
border: 1px solid white;
border-radius: 20vh;
cursor: pointer; 
margin-top: 10vh;
margin-bottom: -15vh;
margin-right: 10vh;
border-radius: 20vh;   
}

@keyframes nextBtn {
  0%   {opacity: 0%;}
  25%  {opacity: 25%;}
  50%  {opacity: 50%;}
  75%  {opacity: 75%;}
  100% {opacity: 100%;}
}
/* media query for iphone X to make buttons centered */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .choices {   
    font-size: 2.5em;
    margin: 20px;
    padding: 1vh 3.5vh 1vh 3.5vh;
    position: relative;
    left: 2.7em;
    top: 2em;
   
  
    }
}
/* media query for iPhone 6+, 7+ and 8+ to make buttons centered */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

.choices {
  font-size: 2.5em;
  margin: 20px;
  padding: 1vh 3.5vh 1vh 3.5vh;
  position: relative;
  left: 3.5em;
  
}
}


