:root {
  font-family: "Rowdies", cursive;
}

.app {
  background-image: url("../images/earth.gif");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 100%;
}

.hero-heading {
  padding-top: 20vh;
  text-align: center;
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.start-btn {
  display: flex;
  font-size: 2em;
  font-family: "Rowdies", cursive;
  background-color: #225885;
  border: 0;
  padding: 0.6em 1.5em;
  border-radius: 2em;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1.4em;
  color: white;
  box-shadow: 0 2px 25px white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5em;
}

.score-board {
  font-size: 2em;

  color: white;
  padding: 5px;
  font-family: "Press Start 2P", cursive;
  justify-self: right;
  text-align: right;

  position: relative;
  top: 20px;
}

.music-btn {
  font-size: 1.5em;
  padding: 1vh;
  background-color: #225885;
  margin-top: 8px;
  font-family: "Press Start 2P", cursive;
  color: white;
  box-shadow: 0 2px 25px #87d2e0;
}

.levels-btn {
  font-size: 1.5em;
  /* padding: 1vh; */
  margin-left: 1vw;
  /* font-family: "Rowdies", cursive; */
  background-color: #225885;
  margin-top: 15px;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 25px #87d2e0;
}

.music-btn-container {
  background-color: #53a1e0;
  /* margin-bottom: 100px; */
  border-radius: 40vh;
  padding: 1vh;
  color: white;
  box-shadow: 0 2px 25px white;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 25vh 0 1vh 2vh;
  cursor: pointer;
}

.music-btn-img {
  margin: 0px 5px -5px 5px;
  height: 30px;
}

.start-btn:hover,
.music-btn:hover,
.game-option:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
/* quiz question */
.quiz-question-text {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 2.3em;
  color: white;
  text-shadow: rgb(233, 233, 233) 0px 0px 5px;
  margin-top: 15vh;
}

/* displays if right or wrong */
.answer-notif-text {
  text-align: center;
  margin-top: 10vh;
  font-size: 1.3em;
  color: white;
  font-family: "Press Start 2P", cursive;
  text-shadow: black 0px 0px 5px;
}

.choices-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.game-option {
  font-size: 1.5em;
  display: inline-block;
  align-self: auto;
  padding: 2vh 10vh;
  margin: auto;
  margin-top: 10vh;
  font-family: "Press Start 2P", cursive;
  background-image: linear-gradient(#efa09e, #1daced);

  border: 1px solid rgb(31, 89, 165);
}

.next-btn-container {
  display: flex;
  justify-content: center;
}

.next-btn {
  position: relative;
  font-size: 2em;
  padding: 2vh 1vh;
  background-color: rgb(84, 189, 224);
  animation: next-btn 0.5s;
  border: 3px solid white;
  cursor: pointer;
  margin-top: 10vh;
  font-family: "Press Start 2P", cursive;
}

@keyframes next-btn {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
/* media query for iphone X to make buttons centered */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .game-option {
    font-size: 2.5em;
    margin: 20px;
    padding: 1vh;
    position: relative;
    left: 2.7em;
    top: 2em;
  }
  .quiz-question-text {
    text-align: center;
    font-size: 4em;
    color: #0e3c61;
    text-shadow: rgb(233, 233, 233) 0px 0px 5px;
    margin-top: 25vh;
  }

  .next-btn-container {
    display: flex;
    justify-content: right;
  }
  .next-btn {
    position: relative;
    font-size: 2em;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(84, 189, 224);
    animation: next-btn 0.5s;
    border: 1px solid white;
    cursor: pointer;
    margin: 7vh 5vh 0 0;
    /* border-radius: 5vh;    */
  }
}
/* media query for iPhone 6+, 7+ and 8+ to make buttons centered */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .game-option {
    font-size: 2.5em;
    margin: 20px;
    padding: 1vh 3.5vh 1vh 3.5vh;
    position: relative;
    left: 3.5em;
  }
}

.greenChange {
  background-image: none;
  background-color: green;
}

.redChange {
  background-image: none;
  background-color: red;
}

#game {
  display: block;
}

#levels-page {
  background-image: url("../images/earth.gif");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: none;
}

#levelsBox {
  border: 6px solid gray;
  margin: auto;
  position: relative;
  text-align: center;
  top: 10%;
  width: 60%;
  height: 80%;
  background-color: white;
  background-size: cover;
}

.changeLevelDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.changeLevel {
  padding: 30px 60px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 40px;
}
