body {
  font-family: "Rowdies", cursive; 
}

.app{
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.hero-heading {
  padding-top: 20vh;
  text-align: center;
  font-size: 6rem;
  
  
}


.start-btn {
  display: flex;
  font-size: 2em;
  font-family: "Rowdies", cursive;
  background-color: #225885;
  border: 0;
  padding: 0.6em 1.5em;
  border-radius: 2em;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1.4em;
  color: white;
  box-shadow: 0 2px 25px white;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5em;

  
  
}

.scoreBoard { 
  font-size: 2em;
  background-color: #0e3c61;
  color: white;
  padding: 10px;

  justify-self: right;
  text-align: right;
  
  position: relative; 
  top:10px;
  
}

.musicBtn{ 
  font-size: 1.5em;
  padding: 1vh;
  background-color: #225885;
  margin-top: 8px;

  
  color:white;
  box-shadow: 0 2px 25px #87D2E0;
}

.levelsBtn { 
  font-size:1.5em;
  /* padding: 1vh; */
  margin-left: 1vw;
  /* font-family: "Rowdies", cursive; */
  background-color: #225885;
  margin-top: 15px;
  padding: 10px;
  
  cursor:pointer;
  color:white;
  box-shadow: 0 2px 25px #87D2E0;
}

 .musicBtnmain{  
  background-color: #53a1e0;
  /* margin-bottom: 100px; */
  border-radius: 40vh;
  padding: 1vh; 
  color:white;
  box-shadow: 0 2px 25px white;
  position:absolute;
  bottom: 0;
  left: 0;
  margin: 25vh 0 1vh 2vh;
} 


.music-btn-pic{ 
  margin: 0px 5px -5px 5px;
  height: 30px; 
  }

.start-btn:hover , .musicBtn:hover , .choices:hover{
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
/* quiz question */
.quiz-scr{
  text-align: center;
  font-size: 4em;
  color: #0e3c61;
  text-shadow: rgb(233, 233, 233) 0px 0px 5px;
  margin-top: 15vh;
}

/* displays if right or wrong */
.judge{
  text-align: center;
  margin-top: 10vh;
  font-size: 2.5em;
  color: rgb(207, 207, 207);
  text-shadow: black 0px 0px 5px;
}

.choicesDiv {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

.choices{
  font-size: 2.5em;
  display: inline-block;
  align-self:auto;
  padding: 2vh 10vh;
  margin: auto;
  margin-top: 10vh;
  background-image: linear-gradient(#EFA09E, #1DACED);

  border: 1px solid rgb(31, 89, 165); 
  
}
 

.nextBtnDiv { 
  display:flex;
  justify-content: center;
}
.nextBtn { 
position: relative;
font-size: 2em;
padding: 1vh 5vh 0vh 5vh;
background-color: rgb(84, 189, 224); 
animation: nextBtn 0.5s;
border: 1px solid white; 
cursor: pointer; 
margin-top: 6vh;
border-radius: 20vh;   

}

@keyframes nextBtn {
  0%   {opacity: 0%;}
  25%  {opacity: 25%;}
  50%  {opacity: 50%;}
  75%  {opacity: 75%;}
  100% {opacity: 100%;}
}
/* media query for iphone X to make buttons centered */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
 
    .choices {   
    font-size: 2.5em;
    margin: 20px;
    padding: 1vh;
    position: relative;
    left: 2.7em;
    top: 2em; 
    }
    .quiz-scr{
      text-align: center;
      font-size: 4em;
      color: #0e3c61;
      text-shadow: rgb(233, 233, 233) 0px 0px 5px;
      margin-top: 25vh;
    }
    
.nextBtnDiv { 
  display:flex;
  justify-content: right;
}
    .nextBtn { 
      position: relative;
      font-size: 2em;
      padding-left: 3vh;
      padding-right: 3vh;
      background-color: rgb(84, 189, 224); 
      animation: nextBtn 0.5s;
      border: 1px solid white; 
      cursor: pointer; 
      margin: 7vh 5vh 0 0;
      /* border-radius: 5vh;    */
      }
     


    
}
/* media query for iPhone 6+, 7+ and 8+ to make buttons centered */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

.choices {
  font-size: 2.5em;
  margin: 20px;
  padding: 1vh 3.5vh 1vh 3.5vh;
  position: relative;
  left: 3.5em;
  
}
}

.greenChange { 
  background-image: none;
  background-color: green;
}

.redChange { 
  background-image: none;
  background-color: red;
}


#game { 
  display: block;
}

#levels-page {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: none;
}

#levelsBox { 
  border: 6px solid gray;
  margin: auto;
  position: relative;
  text-align: center;
  top: 10%;
  width:60%;  
  height:80%;
  background-image: url("../images/background.png");
  background-size:cover;
 

}